# Django settings
SECRET_KEY='Секретный ключ Django'

# Database settings
POSTGRES_DB='Название базы данных'
POSTGRES_USER='Пользователь базы данных'
POSTGRES_PASSWORD='Пароль пользователя базы данных'
POSTGRES_HOST='Хост базы данных'
POSTGRES_PORT='Порт базы данных'

# Celery settings
CELERY_BROKER_URL='URL брокера Celery'
CELERY_RESULT_BACKEND='URL хранилища результатов Celery'
DEBUG='Режим отладки (True - включен, False - выключен)'

# Superuser settings
SUPERUSER_EMAIL='Email суперпользователя'
SUPERUSER_PASSWORD='Пароль суперпользователя'

# Email settings
EMAIL_HOST_USER='Пользователь почтового хоста'
EMAIL_HOST_PASSWORD='Пароль почтового хоста'

# STORAGE_S3 setting
S3_ENDPOINT='Хост S3-хранилища'
S3_ACCESS_KEY='Ключ доступа к S3'
S3_SECRET_KEY='Секретный ключ доступа к S3'
S3_BUCKET='Имя бакета'
S3_REGION='Регион'
S3_CUSTOM_DOMAIN='Кастомный домен' (если не требуется указываем значение None)

# MinIO settings (нужны только при использовании локального MinIO)
MINIO_ROOT_USER='пользователь MinIO'
MINIO_ROOT_PASSWORD='Пароль пользователя MinIO'
MINIO_STORAGE_ENDPOINT_PUBLIC='Публичный адрес MinIO'
